<%= turbo_frame_tag "account_modal" do %>
  <div class="fixed inset-0 bg-black/50 flex items-center justify-center z-5">
    <div data-controller="account-modal" data-account-modal-target="userModal" class="bg-white p-6 rounded shadow-md w-full max-w-xl">
      <div class="text-center">
        <h1 class="text-3xl font-bold bg-gradient-to-r from-orange-500 to-pink-500 bg-clip-text text-transparent md:text-4xl"><%= t('.user_profile_edit') %></h1>
      </div>

      <div class="rounded-2xl bg-white/70 backdrop-blur-sm mt-4 p-8 shadow-lg border border-orange-100">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { action: "turbo:submit-end->account-modal#closeUser" }, html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="flex flex-col space-y-2">
            <%= f.label :name, class: "block text-left text-sm font-medium text-gray-700" %>
            <%= f.text_field :name, class: "w-full mb-2 rounded-xl border-2 border-gray-400 bg-white/80 px-3 py-2 text-gray-800"%>
          </div>
          <div class="flex flex-col space-y-2">
            <%= f.label :email, class: "block text-left text-sm font-medium text-gray-700" %>
            <%= f.email_field :email, class: "w-full mb-2 rounded-xl border-2 border-gray-400 bg-white/80 px-3 py-2 text-gray-800" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %>  </div>
          <% end %>
        
          <div class="text-center mt-2">
            <%= check_box_tag :user_destroy, class: "peer" %>
            <%= label_tag :user_destroy, t('.cancel_my_account'), class: "peer-checked:font-bold" %>
          </div>

          <%= f.submit t('.update'), class: "w-full mt-4 bg-orange-400 hover:bg-orange-500 text-white font-semibold py-2 text-lg rounded-xl shadow-lg hover:shadow-xl transition-all duration-200" %>
          
          <div data-action="click->account-modal#closeUserModal">
            <%= link_to t('.back'), users_profile_path, class: "w-full inline-block text-center mt-4 bg-gray-200 hover:bg-gray-300 text-gray-600 font-semibold py-2 text-lg rounded-xl shadow-lg hover:shadow-xl transition-all duration-200" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
