<%= turbo_frame_tag "account_modal" do %>
  <div class="fixed inset-0 bg-black/50 flex items-center justify-center z-5">
    <div data-controller="account-modal" data-account-modal-target="passwordModal" class="bg-white p-6 rounded shadow-md w-full max-w-xl">
      <div class="text-center">
        <h1 class="text-3xl font-bold bg-gradient-to-r from-orange-500 to-pink-500 bg-clip-text text-transparent md:text-4xl"><%= t('.password_edit') %></h1>
      </div>

      <div class="rounded-2xl bg-white/70 backdrop-blur-sm mt-4 p-8 shadow-lg border border-orange-100">
        <%= form_with(model: current_user, url: account_password_path, data: { action: "turbo:submit-end->account-modal#closePassword" }, html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: current_user %>

          <div class="flex flex-col space-y-2">
            <%= f.label :current_password, class: "block text-left text-sm font-medium text-gray-700" %>
            <%= f.password_field :current_password, class: "w-full ml-2 mb-2 rounded-xl border-2 border-gray-400 bg-white/80 px-3 py-2 text-gray-800"%>
          </div>

          <div class="flex flex-col space-y-2">
            <%= f.label :password, class: "block text-left text-sm font-medium text-gray-700" %>
            <%= f.password_field :password, class: "w-full ml-2 mb-2 rounded-xl border-2 border-gray-400 bg-white/80 px-3 py-2 text-gray-800" %>
          </div>

          <div class="flex flex-col space-y-2">
            <%= f.label :password_confirmation, class: "block text-left text-sm font-medium text-gray-700" %>
            <%= f.password_field :password_confirmation, class: "w-full ml-2 mb-2 rounded-xl border-2 border-gray-400 bg-white/80 px-3 py-2 text-gray-800" %>
          </div>

          <%= f.submit t('.update'), class: "w-full mt-4 bg-orange-400 hover:bg-orange-500 text-white font-semibold py-2 text-lg rounded-xl shadow-lg hover:shadow-xl transition-all duration-200" %>

          <div data-action="click->account-modal#closePasswordModal"> 
            <%= link_to t('.back'), users_profile_path, class: "w-full inline-block text-center mt-4 bg-gray-200 hover:bg-gray-300 text-gray-600 font-semibold py-2 text-lg rounded-xl shadow-lg hover:shadow-xl transition-all duration-200" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
