<main class="flex flex-col items-center justify-center min-h-screen px-6 py-4 md:py-12">
  <div class="w-full max-w-md space-y-8">
    <div class ="text-center">
      <h2 class="text-3xl font-bold text-orange-800 md:text-4x mb-8">
        <%= t('.sign_in') %>
      </h2>

      <div class="rounded-2xl bg-white/70 backdrop-blur-sm p-8 shadow-lg border border-orange-100">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "space-y-6") do |f| %>
          <div class="flex flex-col space-y-2">
            <%= f.label :email, class: "block text-left text-sm font-medium text-gray-700" %>
            <%= f.email_field :email, class: "w-full mb-2 rounded-xl border-2 border-gray-400 bg-white/80 px-4 py-3 text-gray-800"%>
          </div>
          <div class="flex flex-col space-y-2">
            <%= f.label :password , class: "block text-left text-sm font-medium text-gray-700" %>
            <%= f.password_field :password, class: "w-full mb-2 rounded-xl border-2 border-gray-400 bg-white/80 px-4 py-3 text-gray-800"%>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="mb-2 mt-4">
              <%= f.check_box :remember_me, class: "peer" %>
              <%= f.label :remember_me, class: "peer-checked:font-bold" %>
            </div>
          <% end %>
          <%= f.submit t('.submit') , class: "w-full mt-4 bg-orange-400 hover:bg-orange-500 text-white font-semibold py-3 text-lg rounded-xl shadow-lg hover:shadow-xl transition-all duration-200"%>
        <% end %>
      </div>
        <div class="my-6 flex items-center">
        <div class="flex-1 border-t border-gray-200"></div>
        <div class="mx-4 text-sm text-gray-500">または</div>
        <div class="flex-1 border-t border-gray-200"></div>
      </div>
        <%= link_to "LINE連携", "#", class:"block w-full bg-green-400 hover:bg-green-500 text-white font-semibold py-3 text-lg rounded-xl shadow-lg hover:shadow-xl transition-all duration-200" %>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
