<div class="min-h-screen bg-violet-200">
  <div class ="container mx-auto">
    <div class="text-center pt-5">
      <h2 class="text-3xl text-black-500 font-bold text-center mb-5"><%= t('.sign_in') %></h2>
      <div class="w-3/5 mx-auto">
        <% if notice %>
          <p class="notice bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-5"><%= notice %></p>
        <% elsif alert %>
          <p class="alert bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-5"><%= alert %></p>
        <% end %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-3 mt-4 flex flex-col">
            <%= f.label :email, class: "block text-left mb-1" %>
            <%= f.email_field :email, class: "appearance-none border-2 border-gray-700 rounded  py-2 px-4 text-gray-800 leading-tight bg-white focus:border-gray-400 focus:outline-none w-full"%>
          </div>
          <div class="mb-3 mt-4 flex flex-col">
            <%= f.label :password , class: "block text-left mb-1" %>
            <%= f.password_field :password, class: "appearance-none border-2 border-gray-700 rounded  py-2 px-4 text-gray-800 leading-tight bg-white focus:border-gray-400 focus:outline-none w-full"%>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="mb-2 mt-4">
              <%= f.check_box :remember_me, class: "peer" %>
              <%= f.label :remember_me, class: "peer-checked:font-bold" %>
            </div>
          <% end %>
          <%= f.submit t('.submit') , class: "inline-block py-2 px-10 mt-2 bg-violet-500 rounded-md text-white hover:bg-violet-700"%>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
