<main class="flex-1 px-6 py-8 md:px-8">
  <div class="mx-auto max-w-md space-y-6">
    <div class="text-center">
      <h1 class="text-3xl font-bold bg-gradient-to-r from-orange-500 to-pink-500 bg-clip-text text-transparent md:text-4xl">
        <%= t('.title') %>
      </h1>
    </div>
    <%= render 'categories/category_nav', categories: @categories %>
    <%= turbo_frame_tag "foods_list" do %>
      <div class="flex flex-wrap gap-4">
        <%= render 'foods_list', foods: @foods %>
        <%= link_to new_food_path(category_id: params[:category_id]), data: { turbo_frame: 'food' }, class: "bg-white w-[100px] h-[100px] rounded-full flex items-center justify-center mt-6 border-2 border-gray-300" do %>
          <%= heroicon "plus", options: { class: "w-10 h-10 text-gray-800" } %>          
        <% end %>
      </div>
    <% end %>
  </div>
</main>
